DJANGO_SETTINGS_MODULE=config.settings.prod
SECRET_KEY=una_clave_super_secreta
DEBUG=False
ALLOWED_HOSTS=eventhub.onrender.com
JWT_SECRET_KEY=change-me-too

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=app-password
DEFAULT_FROM_EMAIL=EventHub <example@gmail.com>

CORS_ALLOWED_ORIGINS=http://localhost:3000
